* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Acme', 'Aladin', 'Nunito';
    font-size: 1.6rem;
    background: #EFF7F9;
    padding-top: 26px;
    color: #0A0951;

}
header {
    width: 100%;
    padding-left: 160px;
    padding-right: 160px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 155px;
}

.header-logo-section {
     display: flex; 
     margin-right: 428px;
     

}
.header-logo-img {
    height: 45px;
    width: 32px;

    
}
.logo-heading-img {
    height: 19px;
    width: 165px;
    margin-left: 11px;
 }
 .nav-bar {
    height: 28px;
width: 424px;
/* margin-right: 40px; */


 }
 .nav-bar-list {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
 }
 .nav-bar-list li {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;

 }
 .nav-bar-list li a {
    color: rgba(45, 37, 99, 1);
    text-decoration: none;
 }
 .header-button {
    height: 60px;
   width: 180px;
    left: 1260px;
    top: 26px;
    border-radius: 6px;
    border: 1px solid 
    #1664F9;

 }
 /* hero-section */
 .hero-section {
    height: 439.00048828125px;
    width:100%;
    padding-left: 157px;
    padding-right:  120px;
    display: flex;
    position: relative;
    margin-bottom: 226px;
}
.hero-intro-sub-wrapper-1 {
    display: flex;
    margin-bottom: -33px;
}
.hero-intro-sub-wrapper-1-text, .join-subsection-wrapper2-1-text {
    height: 32px;
    width: 241px;
    font-family: Acme;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: 
    rgba(22, 98, 244, 1);
    margin-right: 8px;
}
.hero-intro-heading {
    height: 170px;
    width: 373px;
    font-family: Aladin;
    font-size: 70px;
    font-weight: 400;
    line-height: 85px;
    letter-spacing: 0em;
    color:  #343F41;
    margin-bottom: 67px;
}

.hero-intro-sub-wrapper-2 {
    display: flex;
    gap: 20px;
}

.hero-intro-sub-wrapper-2-text {
    height: 25px;
    width: 138px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #343F41;
    text-decoration: underline;
}
.hero-intro-sub-wrapper-2-text:hover {
    border: 1px solid rgba(18, 148, 236, 1);
    border-radius: 6px;
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(0deg, #1294EC, #1294EC),
    linear-gradient(0deg, #1664F9, #1664F9);
    box-shadow: 0px 16px 46px rgba(18, 148, 236, 0.33);
    height: 60px;
    width: 180px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
/* .hero-intro-container1 */
.hero-intro-container1 {
    height: 538px;
    width: 100%;
}

.hero-intro-subcontainer1-1, .hero-intro-container1-1, .hero-intro-container1-2 {
   position: relative;
    height: 25.270587921142578px;
    width: 25.270587921142578px;
    border-radius: 50px;
    background: #FBD95E;
    top: -56px;
    left: 103px;
}
.hero-intro-container1-2 {
    background: #FF98D0;
    position: relative;
    top: -99px;
    left: 636px;
}
.hero-intro-container1-1 {
    position: relative;
    top: 233px;
    left: 589px;
}
.hero-intro-subcontainer1-2, .hero-intro-subcontainer1-2-1, .hero-intro-subcontainer1-2-2 {
   position: relative;
   top: 63px;
   left: 124px;
    height: 21.058822631835938px;
    width: 21.058822631835938px;
    border-radius: 50px;
    background: rgba(127, 218, 175, 1);

}
.hero-intro-subcontainer1-2-1 {
    position: relative;
    background: #1766FF;
    top: -70px;
    left: 457px;
}
.hero-intro-subcontainer1-2-2  {
    position: relative;
    top: 258px;
    left: 229px;
    background: #1766FF; 
}
.hero-intro-container1-img {
    height: 445.15936279296875px;
    width: 476.8209228515625px;
    margin-top: -204px;
    margin-left: 120px;
    object-fit: contain;
}
.hero-intro-container1-text {
    color: #555185;
    width: 364px;
    position: relative;
    top: -385px;
    left: 228px;
    z-index: -1;
}
.hero-intro-subcontainer2 {
    height: 460px;
    width: 460px;
    position: relative;
    left: 177px;
    top: -575px;
    z-index: -1;
    border-radius: 1065.5px;
    background: linear-gradient(66.49deg, rgba(245, 227, 125, 0.6) 15.16%, rgba(217, 177, 255, 0.6) 32.73%, rgba(239, 152, 220, 0.6) 51.38%, rgba(158, 217, 238, 0.6) 73.91%, rgba(18, 148, 236, 0.6) 99.04%, rgba(86, 196, 245, 0.6) 149.16%);
    transform: matrix(-0.5, -0.87, -0.87, 0.5, 0, 0);
    filter: blur(125px);
}
/* feature-section */
.feature-section {
    height: auto;
    width: 100%;
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    gap: 2px;
    
}
.feature-section-content {
    height: 373px;
    width: 309.11px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 46px rgba(148, 184, 227, 0.13);
    border-radius: 10px;
    padding-top: 50px;
}
.feature-section-subcontent, .feature-section-subcontent-2, .feature-section-subcontent-3{
    height: 122.58131408691406px;
    width: 122.58131408691406px;
    border-radius: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 96.51px;
}
.feature-section-subcontent {
    background: #EB5757;
    box-shadow: 0px 16px 46px rgba(235, 87, 87, 0.33);

}
.feature-section-subcontent-2 {
    background: #1664F9;
    box-shadow: 0px 16px 46px rgba(18, 148, 236, 0.33);
}
.feature-section-subcontent-3 {
    background: #F2994A;
box-shadow: 0px 16px 46px rgba(242, 153, 74, 0.33)
}
.feature-section-content-text1 {
    height: 40.55717468261719px;
    width: 297.5150451660156px;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: -0.015em;
    text-align: center;
    color: #0A0951;
    margin-top: 34.02px;
    margin-left: 9.24px;

}
.feature-section-content-text2 {
    height: 77.42733764648438px;
    width: 281.8973388671875px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #555185;
   margin-left: 10px;
}
/* join-section */
.join-section {
    height: 655px;
    width: 100%;
    padding-left: 146px;
    padding-right: 172px;
    margin-top: 191px;
    display: flex;
   
}

.join-subsection-wrapper1-img {
    height: 500px;
    width: 464px;
    object-fit: fill;
    margin-top: 25px;
    margin-left: -29px;

}
/* join-subsection-wrapper2 */
.join-subsection-wrapper2 {
    height: 526px;
    width: 597px;
    border-radius: 6px;
 
}
.join-subsection-wrapper2-1 {
    display: flex;
}
.join-subsection-wrapper2-heading {
    height: 156px;
    width: 378px;
    font-family: Aladin;
    font-size: 60px;
    font-weight: 400;
    line-height: 78px;
    letter-spacing: 0em;
    color: #343F41;
    margin-top: 13px;
    margin-bottom: 21px
}
.join-subsection-wrapper2-text {
    width: 115%;
    font-family: Acme;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    color: rgba(85, 81, 133, 1);
}
.join-subsection-wrapper2-2 {
    height: 60px;
    width: 180px;
    background: #1664F9;
    border: 1px solid #1294EC;
    box-shadow: 0px 16px 46px rgba(18, 148, 236, 0.33);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 41px;

}
.join-subsection-wrapper2-2 a {
    color:rgba(255, 255, 255, 1);
    font-family: Nunito;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-decoration: none;
}
/* special-designs */
.join-subsection-wrapper1-8 {
    position: relative;
    height: 531.0705653189289px;
    width: 548.201730149653px;
    left: -191px;
    top: -381px;
    border-radius: 1065.5px;
    background: linear-gradient(66.49deg, rgba(245, 227, 125, 0.6) 15.16%, rgba(217, 177, 255, 0.6) 32.73%, rgba(239, 152, 220, 0.6) 51.38%, rgba(158, 217, 238, 0.6) 73.91%, rgba(18, 148, 236, 0.6) 99.04%, rgba(86, 196, 245, 0.6) 149.16%);
    filter: blur(125px);
    border-radius: 1065.5px;
    transform: matrix(-0.5, -0.87, -0.87, 0.5, 0, 0);
    z-index: -1;
}

.join-subsection-wrapper1-1, .join-subsection-wrapper1-5 {
    position: relative;
    height: 21.058822631835938px;
    width: 21.058822631835938px;
    left: -147px;
    top: -435px;
    border-radius: 50px;
    background: #FFFFFF;
}
.join-subsection-wrapper1-5 {
    background: rgba(127, 218, 175, 1);
    left: 520px;
    top: -431px;
}
.join-subsection-wrapper1-2, .join-subsection-wrapper1-3, .join-subsection-wrapper1-6, .join-subsection-wrapper1-9 {
    position: relative;
    height: 16.84705924987793px;
    width: 16.84705924987793px;
    left: -101px;
    top: -409px;
    border-radius: 50px;
    background: #1766FF;
    
}
.join-subsection-wrapper1-9 {
    background: #1766FF;
    left: 916px;
    top: -752px;
}
.join-subsection-wrapper1-6  {
    background: rgba(127, 218, 175, 1);
    left: 920px;
    top: -637px;
}
.join-subsection-wrapper1-3 {
    position: relative;
    background-color: rgba(127, 218, 175, 1);
    top: -535px;
    left: 154px;
}
.join-subsection-wrapper1-4, .join-subsection-wrapper1-7 {
    position: relative;
    height: 25.270587921142578px;
    width: 25.270587921142578px;
    left:457px;
    top: -629px;
    border-radius: 50px;
    background: #FBD95E;
}
.join-subsection-wrapper1-7 {
    background: #FF98D0;
    left: 1061px;
    top: -599px;
}
/* course-choice-section */
.course-choice-section {
    width: 100%;
    padding-left: 160px;
    height: auto;
    
}
.course-choice-container-1 {
    width: 100%;
    padding-right: 160px;
    display: flex;
    justify-content: space-between;
}
.course-choice-container-1-heading {
    height: 156px;
    width: 330px;
    font-family: Aladin;
    font-size: 60px;
    font-weight: 400;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: left;
    color: #343F41;
    margin-top: 61px;

} 
.course-choice-subcontainer-1-1 {
    margin-top: 123px;
    height: 61.79999923706055px;
    width: 145.79922485351562px;
    display: flex;
}
.course-choice-subcontainer-1-1-img1 {
    margin-right: 24.5px;
}    
/* course-choice-container */
.course-choice-container-2 {
    width: 100%;
    height: auto;
    /* margin-top: 49px; */
    display: flex;

}
.course-choice-container-2-1 {
    height: 482px;
    width: 381px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 46px 0px rgba(148, 184, 227, 0.13);
}
.course-choice-container-2-1-1 img {
    height: 277px;
    width: 381px;
    border-radius: 10px 10px 0px 0px;
    object-fit: contain;
    margin-top: -7px;
}
.course-choice-container-2-1-heading {
    height: 43.864051818847656px;
    /* width: 264.6464538574219px; */
    font-family: Nunito;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: -0.015em;
    color: #0A0951;
    margin-top: -20.32px;
    margin-left: 19px;
    margin-bottom: -6.54px;
}
.course-choice-container-2-1-text-1 {
    height: 38.01551055908203px;
    width: 320.20758056640625px;
    font-family: Nunito;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    margin-bottom: 10.98px;
    margin-left: 25px;
    color: #1664F9;
    margin-bottom: -16.02px;
}
.course-choice-container-2-1-subtext-1 {
    color: rgba(85, 81, 133, 1);
}
.course-choice-container-2-1-img {
    height: 96.50091552734375px;
    width: 96.50091552734375px;
    object-fit: contain;
    margin-left: 250px;
    margin-top: -47px;
}
.course-choice-container-2-1-text-2 {
    height: 48.250457763671875px;
    width: 163.75912475585938px;
    font-family: Nunito;
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: -0.015em;
    color: #0A0951;
    margin-left: 22px;

}
/* success-section */
.success-section {
    height: 658.850341796875px;
    width: 100%;
    padding-left: 159px;
    padding-right: 105px;
    margin-top: 156px;
}
