* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Acme', 'Aladin', 'Nunito';
    font-size: 1.6rem;
    background: #EFF7F9;
    padding-top: 26px;

}
header {
    width: 100%;
    padding-left: 160px;
    padding-right: 160px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 155px;
}

.header-logo-section {
     display: flex; 
     margin-right: 428px;
     

}
.header-logo-img {
    height: 45px;
    width: 32px;

    
}
.logo-heading-img {
 height: 19px;
 width: 165px;
 margin-left: 11px;
 }
 .nav-bar {
    height: 28px;
width: 424px;
/* margin-right: 40px; */


 }
 .nav-bar-list {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
 }
 .nav-bar-list li {
    font-family: Nunito;
font-size: 16px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0em;

 }
 .nav-bar-list li a {
    color: rgba(45, 37, 99, 1);
    text-decoration: none;
 }
 .header-button, .hero-intro-sub-wrapper-2-button {
    height: 60px;
   width: 180px;
left: 1260px;
top: 26px;
border-radius: 6px;
border: 1px solid 
#1664F9;

 }
 /* hero-section */
 .hero-section {
    height: 439.00048828125px;
width:100%;
padding-left: 157px;
padding-right:  120px;
}
.hero-intro-sub-wrapper-1 {
    display: flex;
    margin-bottom: 23px;
}
.hero-intro-sub-wrapper-1-text {
    height: 32px;
    width: 241px;
    font-family: Acme;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: 
    rgba(22, 98, 244, 1);
    margin-right: 8px;
}
.hero-intro-heading {
    height: 170px;
width: 373px;
font-family: Aladin;
font-size: 70px;
font-weight: 400;
line-height: 85px;
letter-spacing: 0em;
color:  #343F41;
margin-bottom: 134px;
}

.hero-intro-sub-wrapper-2-button {
font-family: Nunito;
font-size: 16px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
height: 60px;
width: 180px;
border: 1px solid rgba(18, 148, 236, 1);
border-radius: 6px;
color: rgba(255, 255, 255, 1);
background: linear-gradient(0deg, #1294EC, #1294EC),
linear-gradient(0deg, #1664F9, #1664F9);
box-shadow: 0px 16px 46px rgba(18, 148, 236, 0.33);
}